h4 {
  white-space: nowrap;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 90rem;
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 1rem;
  background: white;
}
.shop_item {
  padding: 1rem;
  margin: 0.5rem auto;
  box-sizing: border-box;
  position: relative;
  float: left;
}
.shop_item img {
  max-width: 100%;
}
.shop_item:hover {
  transform: scale(1.1);
  z-index: 2;
  transition: transform 2s;
  border: 1px solid #e7e7ed;
  border-radius: 4%;
}
.description {
  border-block: solid #9b99cc;
  writing-mode: horizontal-tb;
  box-sizing: border-box;
}
.price {
  font-weight: 700;
}
.add-to-cart {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  padding: 0.3rem;
  display: inline-block;
}
.add-to-cart img {
  width: 2.8rem;
}


