.container{
	width: 80%;
	max-width: 90rem;
	box-sizing: border-box;
	margin: 1rem auto;
	padding: 1rem;
	background: white;
}
.item {
  display: inline-block;
  width: 25%;
  padding: 1rem;
  margin: 0.5rem auto;
  box-sizing: border-box;
	position: relative;
}

.description {
  border-block: solid #9b99cc;
  writing-mode: horizontal-tb;
}

.item img {
  max-width: 100%;
	}

.price {
  font-weight: 700;
}
.text {
	text-align: center;
}

.img-center{
 text-align: center;

}

.add-to-cart {
	position: absolute;
	top: .5rem;
	right: .5rem;
	cursor: pointer;
	padding: .3rem;
	display: inline-block;
}

.add-to-cart img {
	width: 2.8rem;
}